h1::first-letter{
    color: red;
   
}
h5::first-line{
    color: blue;
}

#first::after{
    content: "🎉";
   
}
#second::after{
    content: "🔨";
   
}
#third::before{
    content: "👽️";
   
}
h5::selection{
    background-color: yellow;
    color: red;
}

ul li::marker{
    content: "🚩";
}
input::placeholder{
    color: red;
}

input::file-selector-button{
    background-color: green;
}