/* nav>a:hover{
    color: palevioletred;
} */

/* nav >a:active{
    color: greenyellow;
    background-color: coral;
} */

/* nav a:link{
    color: black;
}

nav a:visited{
    color: aquamarine;
} */
/* 
#username:focus{
            background-color: purple;
} */

/* structured pseudo  */

p:first-child{
    background-color: red;
}
p:last-child{
    background-color: orangered;
}