.circle {
    height: 300PX;
    width: 300px;
    /* background: linear-gradient(45deg,pink,red,skyblue); */
    background: linear-gradient(to left, aqua, orange, green, black);
}



/* radial gradient */
.cirs {
    height: 300px;
    width: 600px;
    /* background: linear-gradient(red,yellow,orange); */
    background: radial-gradient(red, yellow, orange);
    background: radial-gradient(circle at bottom left, green, blue, rgb(26, 152, 220)), rgb(94, 178, 233);
}

.main3 {
    height: 300px;
    width: 600px;
    background: radial-gradient(ellipse at top right, green, blue, rgb(26, 152, 220), rgb(94, 178, 233), rgb(39, 222, 222));


}

#box{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    /* background: conic-gradient(red 0deg 45deg, yellowgreen 45deg 120deg,gray 120deg 260deg, blueviolet 260deg 360deg) ; */
    background: conic-gradient(red, yellowgreen,gray, blueviolet) ;

}
/* bg-clip is the propeertty used to add border color around or inside text image color or the liner gradinet to the text iut has padding-box,content-box,text,border-box */
h1{
    font-size: 4rem;
    background: linear-gradient(rgb(241, 59, 238),orange,rgb(205, 81, 81),rgb(218, 35, 218));
    background-clip: text;
    color: transparent;
}

h4{
    font-size: 4rem;
    background: linear-gradient(rgb(235, 52, 52),red,rgb(196, 192, 192));
    background-clip: text;
    color: transparent;
}

h2{
    padding: 40px;
    background-clip: border-box;
    border: 20px dashed blue;
    background: skyblue;

}

#i{
    /* filter: blur(5px); */
    /* filter: drop-shadow(3px 5px 8px red); */
    /* filter: grayscale(100%); */
    /* filter: hue-rotate(245deg);
    filter: invert(100%);
    filter: opacity(50%);
    filter: saturate(500%); */
    filter: sepia(100%);
}
#i:hover{
    filter: none;
}

#i1{
    filter: brightness(50%);
}

#i1:hover{
    filter: none;
}
#i2{
    filter: contrast(200%);
}
#i2{
    filter: none;
}
body{
    background: url('https://picsum.photos/600/350');
}
.card{
    height: 250px;
    width: 300px;
    margin: 100px auto;
    border: 5px solid red;
    backdrop-filter: blur(5px);
}