[class='h']{
    background-color: fuchsia;
}

[id='head5']{
    background-color: darkred;
}
a[href$='us']{
    background-color: aqua;
}
a[href^='https']{
    background-color: rgb(237, 11, 11);
}
a[href*='https']{
    background-color: rgb(237, 11, 11);
}

[class~='rest']{
    background-color: rgb(57, 39, 172);
}

[class|='rest']{
    background-color: rgb(11, 237, 11);
}