/* .box {
    width: 300px;
    height: 300px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvRn4sjaG7eO2j-CUqr9q2x2DXPQ0-E2GQC3DwZV3sbA&s=10");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} */
/* .box{
    heigh width: display: ;
    background-color: #fff;
    border
} */

/* to add image n video top of th e image */
/* .box{
    height: 500px;
    width: 500px;
    background: url("sea.png"),url("fish2.gif");
    background-size: cover,200px;
    background-repeat: no-repeat;
    background-blend-mode: color-burn;
    background-position: center;
    
    
} */

/* #main{
    
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTqm-7v_xTcDMBecgvP3ZqXAPzzuWOebqerRydnSnuEQ&s=10');
    background-attachment: fixed;
    /* background-attachment: scroll; */

    /* color: cyan;
} */ 

.container{
    height: 300px;
    width: 90vw;
    padding: 30px;
    background-color: lightslategray;
    white-space: nowrap;
    overflow-x: scroll;
    scrollbar-width: none;
}