body{
    background-color: rgb(247, 242, 236);
}
h2{
    color: blue;
    text-align: center;
}

.fest-header {
    display: grid;
    grid-template-columns: 2fr auto 2fr;
    align-items: center;
}

.fest-header img {
    width: 400px;
    height: 300px;
}

#img1 {
    justify-self: start;
}

#img2 {
    justify-self: end;
}

h1{
    color: red;
}

#inn{
    color: rgb(8, 8, 123);
}
body {
    text-align: center;
}
.nav{
    justify-content: center;
    
    justify-content: space-between;
}

.about-content {
    max-width: 800px;
    margin: 40px auto;
    padding: 0 20px;
}

.about-content h1 {
    text-align: center;
}

.about-content p {
    margin-bottom: 20px;
    text-align: left;
    line-height: 1.8;
}